In [1]:
import pandas as pd
import numpy as np
import json
import csv
import import_ipynb
from DataCleaning import clean_column

importing Jupyter notebook from DataCleaning.ipynb

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/jpyneni/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
fp = '../Uncleaned Data/fake-news/train.csv'
kaggle_2 = pd.read_csv(fp, usecols=['text','label'])
print(kaggle_2.shape)
kaggle_2.head()

(20800, 2)

                                                text  label
0  House Dem Aide: We Didn’t Even See Comey’s Let...      1
1  Ever get the feeling your life circles the rou...      0
2  Why the Truth Might Get You Fired October 29, ...      1
3  Videos 15 Civilians Killed In Single US Airstr...      1
4  Print \nAn Iranian woman has been sentenced to...      1

In [3]:
kaggle_2.loc[(kaggle_2.label == 1), 'label'] = 'Fake'
kaggle_2.loc[(kaggle_2.label == 0), 'label'] = 'Real'

In [4]:
kaggle_2.head()

                                                text label
0  House Dem Aide: We Didn’t Even See Comey’s Let...  Fake
1  Ever get the feeling your life circles the rou...  Real
2  Why the Truth Might Get You Fired October 29, ...  Fake
3  Videos 15 Civilians Killed In Single US Airstr...  Fake
4  Print \nAn Iranian woman has been sentenced to...  Fake

In [5]:
def get_kaggle2():
    return kaggle_2

In [6]:
kaggle_2['text'] = kaggle_2['text'].apply(lambda x: str(x))
kaggle_2 = kaggle_2[(kaggle_2['text'] != 'nan') & (kaggle_2['text'] != '')]
k2_clean = clean_column(kaggle_2, 'text', 'clean_text')
k2_clean.to_csv('../Cleaned Data/Kaggle2_Mixed.csv')

In [ ]:
print(len(kaggle_2['text'].iloc[1]))

In [7]:
fp = '../Cleaned Data/Kaggle2_Mixed.csv'
test = pd.read_csv(fp)
test.shape

(20761, 4)

In [10]:
test.drop(['text', 'Unnamed: 0'],inplace=True, axis=1)
test.head()

  label                                         clean_text
0  Fake  house dem aide didnt even see comeys letter ja...
1  Real  ever get feeling life circles roundabout rathe...
2  Fake  truth might get fired october   tension intell...
3  Fake  videos  civilians killed single us airstrike i...
4  Fake  print iranian woman sentenced six years prison...

In [11]:
test.to_csv('../Cleaned Data/Kaggle2_Mixed.csv')