In [1]:
import pandas as pd
import numpy as np
import json
import csv

In [2]:
fp = '../Uncleaned Data/fake-news/train.csv'
kaggle_2 = pd.read_csv(fp, usecols=['text','label'])
print(kaggle_2.shape)
kaggle_2.head()

(20800, 2)

                                                text  label
0  House Dem Aide: We Didn’t Even See Comey’s Let...      1
1  Ever get the feeling your life circles the rou...      0
2  Why the Truth Might Get You Fired October 29, ...      1
3  Videos 15 Civilians Killed In Single US Airstr...      1
4  Print \nAn Iranian woman has been sentenced to...      1

In [3]:
kaggle_2.loc[(kaggle_2.label == 1), 'label'] = 'False'
kaggle_2.loc[(kaggle_2.label == 0), 'label'] = 'True'

In [4]:
kaggle_2.head()

                                                text  label
0  House Dem Aide: We Didn’t Even See Comey’s Let...  False
1  Ever get the feeling your life circles the rou...   True
2  Why the Truth Might Get You Fired October 29, ...  False
3  Videos 15 Civilians Killed In Single US Airstr...  False
4  Print \nAn Iranian woman has been sentenced to...  False

In [19]:
def get_kaggle2():
    return kaggle_2

In [10]:
kaggle_2.dropna(inplace=True)
kaggle_2.reset_index(inplace=True, drop=True)
num = kaggle_2.shape[0]
print(num)
count = 0
for i in range(num):
    if len(kaggle_2['text'].iloc[i]) < 12101:
        count +=1
print(count)

20761
19902

In [9]:
print(len(kaggle_2['text'].iloc[1]))

4160