In [17]:
import pandas as pd
import numpy as np
import json
import csv
import os

In [18]:
folder = "../Cleaned Data"

dataframes = []
file_names = []
for file in os.listdir(folder):
    if file != "Neural_Fake_News.csv":
        filepath = folder+"/{}".format(file)
        dataframes.append(pd.read_csv(filepath))
        file_names.append(file)

In [19]:
total = 0
for i in range(len(dataframes)):
    print(file_names[i])
    print(dataframes[i].shape)
    total += dataframes[i].shape[0]
print(total)

Kaggle2_Mixed.csv
(20761, 3)
Real_News.csv
(2347, 3)
Human_Fake_News.csv
(12273, 3)
Kaggle3_Real.csv
(24646, 3)
LIAR.csv
(12791, 4)
72818

In [20]:
for i in dataframes:
    print(list(i))

['Unnamed: 0', 'label', 'clean_text']
['Unnamed: 0', 'url', 'clean_text']
['Unnamed: 0', 'site_url', 'clean_text']
['Unnamed: 0', 'label', 'clean_text']
['Unnamed: 0', 'label', 'text', 'clean_text']

In [32]:
dataframes[1].drop(['url'], inplace=True, axis=1)
dataframes[2].drop(['site_url'], inplace=True, axis=1)

In [33]:
for i in dataframes:
    print(list(i))

['label', 'clean_text']
['clean_text']
['clean_text']
['label', 'clean_text']
['label', 'clean_text']

In [27]:
dataframes[0].groupby('label').agg('count')

       clean_text
label
Fake        10249
Real        10386

In [35]:
print(file_names[1])
dataframes[1]['label'] = 'Real'
dataframes[1].groupby('label').agg('count')

Real_News.csv

       clean_text
label
Real         2347

In [37]:
print(file_names[2])
dataframes[2]['label'] = 'Fake'
dataframes[2].groupby('label').agg('count')

Human_Fake_News.csv

       clean_text
label
Fake        12104

In [38]:
dataframes[3].groupby('label').agg('count')

       clean_text
label
Real        24582

In [39]:

dataframes[4].groupby('label').agg('count')

       clean_text
label
Fake         5657
Real         7134

In [40]:
for i in dataframes:
    print(list(i))

['label', 'clean_text']
['clean_text', 'label']
['clean_text', 'label']
['label', 'clean_text']
['label', 'clean_text']

In [41]:
dataframes[1] = dataframes[1][['label', 'clean_text']]
dataframes[2] = dataframes[2][['label', 'clean_text']]
for i in dataframes:
    print(list(i))

['label', 'clean_text']
['label', 'clean_text']
['label', 'clean_text']
['label', 'clean_text']
['label', 'clean_text']

In [61]:
for i in dataframes:
    i.loc[(i.label == 'Real'), 'label'] = 1
    i.loc[(i.label == 'Fake'), 'label'] = 0

In [62]:
combined = pd.concat(dataframes)
combined.head()

  label                                         clean_text
0     0  house dem aide didnt even see comeys letter ja...
1     1  ever get feeling life circles roundabout rathe...
2     0  truth might get fired october   tension intell...
3     0  videos  civilians killed single us airstrike i...
4     0  print iranian woman sentenced six years prison...

In [63]:
print(combined.shape)
print(combined.tail())
print(combined.groupby('label').agg('count'))

(72818, 2)
      label                                         clean_text
12786     1  first time decade imports accounted less half ...
12787     1  says donald trump bankrupted companies twice f...
12788     1  john mccain george bush absolutely plan univer...
12789     0  new poll shows  percent support presidents pla...
12790     0  one claims report vindicating new jersey gov c...
       clean_text
label
0           28010
1           44449

In [64]:
combined.reset_index(inplace=True)
combined.tail()

       index label                                         clean_text
72813  12786     1  first time decade imports accounted less half ...
72814  12787     1  says donald trump bankrupted companies twice f...
72815  12788     1  john mccain george bush absolutely plan univer...
72816  12789     0  new poll shows  percent support presidents pla...
72817  12790     0  one claims report vindicating new jersey gov c...

In [65]:
combined.to_csv('../Cleaned Data/combined.csv')

In [66]:
combined2 = pd.concat(dataframes[0:2])
combined2.reset_index(inplace=True)
print(combined2.head())
print(combined2.shape)
print(combined2.tail())
print(combined2.groupby('label').agg('count'))

   index label                                         clean_text
0      0     0  house dem aide didnt even see comeys letter ja...
1      1     1  ever get feeling life circles roundabout rathe...
2      2     0  truth might get fired october   tension intell...
3      3     0  videos  civilians killed single us airstrike i...
4      4     0  print iranian woman sentenced six years prison...
(23108, 3)
       index label                                         clean_text
23103   2342     1  south korea significantly improved legal frame...
23104   2343     1  zak driouche stepped outside quattro formaggi ...
23105   2344     1  throughout march even business manufacturing s...
23106   2345     1  californias effort move homeless people hotel ...
23107   2346     1  growing numbers protesters challenge coronavir...
       index  clean_text
label
0      10374       10249
1      12734       12733

In [67]:
combined2.to_csv('../Cleaned Data/combined_1.csv')

In [68]:
combined3 = pd.concat([dataframes[2],dataframes[4]])
combined3.reset_index(inplace=True)
print(combined3.head())
print(combined3.shape)
print(combined3.tail())
print(combined3.groupby('label').agg('count'))

   index label                                         clean_text
0      0     0  print pay back money plus interest entire fami...
1      1     0  attorney general loretta lynch plead fifth bar...
2      2     0  red state  fox news sunday reported morning an...
3      3     0  email kayla mueller prisoner tortured isis cha...
4      4     0  email healthcare reform make america great sin...
(25064, 3)
       index label                                         clean_text
25059  12786     1  first time decade imports accounted less half ...
25060  12787     1  says donald trump bankrupted companies twice f...
25061  12788     1  john mccain george bush absolutely plan univer...
25062  12789     0  new poll shows  percent support presidents pla...
25063  12790     0  one claims report vindicating new jersey gov c...
       index  clean_text
label
0      17930       17761
1       7134        7134

In [69]:
combined3.to_csv('../Cleaned Data/combined_2.csv')

In [70]:
combined4 = dataframes[3]
combined3.reset_index(inplace=True)
print(combined4.head())
print(combined4.shape)
print(combined4.tail())
print(combined4.groupby('label').agg('count'))

  label                                         clean_text
0     1  final day  donald trump sent new years message...
1     1  promotion fake news big problem sites like fac...
2     1  russian hackers breached vermont electrical ut...
3     1  beirut reuters united nations security council...
4     1  retailers bracing fresh wave store closures st...
(24646, 2)
      label                                         clean_text
24641     1  net long bets dollar fell last week first time...
24642     1  wall streets rally could derailed renewed worr...
24643     1  reuters breakingviews walt disney may looking ...
24644     1  story refiled correct date paragraph    lisa r...
24645     1  european capitals tightened security friday ah...
       clean_text
label
1           24582

In [71]:
combined4.to_csv('../Cleaned Data/combined_3.csv')