In [60]:
import pandas as pd
import numpy as np
import json

In [74]:
df_real = pd.read_csv('../Uncleaned Data/Real_Scrapped.csv')
print(df_real.shape)
df_real.head()

(909, 3)

,url,title,text
0,https://www.cnn.com/2020/03/29/politics/trump-...,Trump extends federal social distancing guidel...,Washington (CNN) President Donald Trump said S...
1,https://www.cnn.com/world/live-news/coronaviru...,Coronavirus live updates: Global pandemic kill...,The exterior of Elmhurst Hospital in Queens on...
2,https://www.cnn.com/2020/03/29/politics/trump-...,Trump concedes US coronavirus death toll could...,(CNN) President Donald Trump acknowledged Sund...
3,https://www.cnn.com/interactive/2020/health/co...,Tracking Covid-19 cases in the US,NaN
4,https://www.cnn.com/2020/03/29/opinions/donald...,Donald Trump's special day,Sign up to get our new weekly column as a news...

In [75]:
df_real['label'] = 1
df_real.dropna(inplace=True)
print(df_real.shape)
df_real.drop(['url'],axis=1,inplace=True)
df_real.head()

(905, 4)

,title,text,label
0,Trump extends federal social distancing guidel...,Washington (CNN) President Donald Trump said S...,1
1,Coronavirus live updates: Global pandemic kill...,The exterior of Elmhurst Hospital in Queens on...,1
2,Trump concedes US coronavirus death toll could...,(CNN) President Donald Trump acknowledged Sund...,1
4,Donald Trump's special day,Sign up to get our new weekly column as a news...,1
5,How long will Trump's poll surge last?,"(CNN) The 2020 race, publicly at least, has la...",1

In [76]:
df_fake = pd.read_csv('../Uncleaned Data/fake.csv')

In [77]:
print(df_fake.shape)
df_fake.head()

(12999, 20)

,uuid,ord_in_thread,author,published,title,text,language,crawled,site_url,country,domain_rank,thread_title,spam_score,main_img_url,replies_count,participants_count,likes,comments,shares,type
0,6a175f46bcd24d39b3e962ad0f29936721db70db,0,Barracuda Brigade,2016-10-26T21:41:00.000+03:00,Muslims BUSTED: They Stole Millions In Gov’t B...,Print They should pay all the back all the mon...,english,2016-10-27T01:49:27.168+03:00,100percentfedup.com,US,25689.0,Muslims BUSTED: They Stole Millions In Gov’t B...,0.000,http://bb4sp.com/wp-content/uploads/2016/10/Fu...,0,1,0,0,0,bias
1,2bdc29d12605ef9cf3f09f9875040a7113be5d5b,0,reasoning with facts,2016-10-29T08:47:11.259+03:00,Re: Why Did Attorney General Loretta Lynch Ple...,Why Did Attorney General Loretta Lynch Plead T...,english,2016-10-29T08:47:11.259+03:00,100percentfedup.com,US,25689.0,Re: Why Did Attorney General Loretta Lynch Ple...,0.000,http://bb4sp.com/wp-content/uploads/2016/10/Fu...,0,1,0,0,0,bias
2,c70e149fdd53de5e61c29281100b9de0ed268bc3,0,Barracuda Brigade,2016-10-31T01:41:49.479+02:00,BREAKING: Weiner Cooperating With FBI On Hilla...,Red State : \nFox News Sunday reported this mo...,english,2016-10-31T01:41:49.479+02:00,100percentfedup.com,US,25689.0,BREAKING: Weiner Cooperating With FBI On Hilla...,0.000,http://bb4sp.com/wp-content/uploads/2016/10/Fu...,0,1,0,0,0,bias
3,7cf7c15731ac2a116dd7f629bd57ea468ed70284,0,Fed Up,2016-11-01T05:22:00.000+02:00,PIN DROP SPEECH BY FATHER OF DAUGHTER Kidnappe...,Email Kayla Mueller was a prisoner and torture...,english,2016-11-01T15:46:26.304+02:00,100percentfedup.com,US,25689.0,PIN DROP SPEECH BY FATHER OF DAUGHTER Kidnappe...,0.068,http://100percentfedup.com/wp-content/uploads/...,0,0,0,0,0,bias
4,0206b54719c7e241ffe0ad4315b808290dbe6c0f,0,Fed Up,2016-11-01T21:56:00.000+02:00,FANTASTIC! TRUMP'S 7 POINT PLAN To Reform Heal...,Email HEALTHCARE REFORM TO MAKE AMERICA GREAT ...,english,2016-11-01T23:59:42.266+02:00,100percentfedup.com,US,25689.0,FANTASTIC! TRUMP'S 7 POINT PLAN To Reform Heal...,0.865,http://100percentfedup.com/wp-content/uploads/...,0,0,0,0,0,bias

In [78]:
df_fake = df_fake[['site_url','title','text']]
df_fake.dropna(inplace=True)
df_fake.rename(columns={"site_url": "url"}, inplace=True)
chosen_idx = np.random.choice(df_fake.shape[0], replace=False, size=900)
df_fake_trim = df_fake.iloc[chosen_idx]

In [79]:
df_fake_trim['label'] = 0
print(df_fake_trim.shape)
df_fake_trim.drop(['url'], axis=1, inplace= True)
df_fake_trim.head()

(900, 4)

/Users/jpyneni/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,title,text,label
11664,Automation: Robots from Korea to America Are R...,,0
7811,Le prince et l’imposteur : qui est le mystérie...,Dictionnaire visuel Le prince et l’imposteur :...,0
12786,He Saved Thousands From The Nazis By Writing T...,posted by Eddie You’ve heard of “Schindler’s L...,0
3890,Climate Engineering And Microwaved Skies,geoengineeringwatch.org \nWe are all swimming ...,0
5351,Fungus: The Hidden Cause of Almost Every Major...,Fungus: The Hidden Cause of Almost Every Major...,0

In [80]:
df_grover = pd.read_csv('../Uncleaned Data/Neural_Fake_News.csv')
print(df_grover.shape)

df_grover.drop(['Unnamed: 0'], axis=1, inplace= True)
df_grover.head()
df_grover['label'] = 2
df_grover.head()

(909, 3)

,title,text,label
0,Trump extends federal social distancing guidel...,"President Donald Trump, on his first official ...",2
1,Coronavirus live updates: Global pandemic kill...,"By Dylan Welch\nApril 1, 2015. (Bloomberg) -- ...",2
2,Trump concedes US coronavirus death toll could...,Donald Trump won his home state of California ...,2
3,Tracking Covid-19 cases in the US,Editor’s note: Readers and visitors in the New...,2
4,Donald Trump's special day,The wish of many in the press was for the morn...,2

In [100]:
combined = pd.concat([df_real,df_fake_trim],ignore_index=True)

In [101]:
print(combined.head())
combined.tail()

                                               title  \
0  Trump extends federal social distancing guidel...
1  Coronavirus live updates: Global pandemic kill...
2  Trump concedes US coronavirus death toll could...
3                         Donald Trump's special day
4             How long will Trump's poll surge last?

                                                text  label
0  Washington (CNN) President Donald Trump said S...      1
1  The exterior of Elmhurst Hospital in Queens on...      1
2  (CNN) President Donald Trump acknowledged Sund...      1
3  Sign up to get our new weekly column as a news...      1
4  (CNN) The 2020 race, publicly at least, has la...      1

,title,text,label
1800,Here’s what would happen if Hillary Clinton we...,Print \n1. If Clinton is indicted before the e...,0
1801,Why American Surrogates Are in Demand for Chin...,Why American Surrogates Are in Demand for Chin...,0
1802,Manny Pacquiao's Son Dead? Report Says Jimuel ...,Continue Scroll down to preview in browser Man...,0
1803,10 Signs Western Society is a Satanic Cult,10 Signs Western Society is a Satanic Cult Man...,0
1804,‘Climate Emergency': North Pole Sees Record Te...,Source: Common Dreams \nArctic is losing ice a...,0

In [102]:
import nltk
from wordcloud import WordCloud
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, accuracy_score, recall_score, precision_score

In [103]:
combined_text = combined['text'].values
X_title =combined['title'].values
labels = combined['label'].values
combined.groupby('label').agg('count')

       title  text
label
0        900   900
1        905   905

In [104]:
tfidf = TfidfVectorizer(ngram_range=(1,2), max_df= 0.85, min_df= 0.01)

In [105]:
combined_text = tfidf.fit_transform(combined_text)
# combined['title'] = tfidf.fit_transform (combined['title'])

In [106]:
print(type(combined_text))
print("tf idf vectorized text shape: {}".format(combined_text.shape))
print("original text shape: {}".format(combined['text'].shape))

<class 'scipy.sparse.csr.csr_matrix'>
tf idf vectorized text shape: (1805, 10178)
original text shape: (1805,)

In [107]:
train_text, test_text, train_labels, test_labels  = train_test_split(combined_text, labels, test_size=0.2)

In [108]:
print(train_text)
print(type(train_text))
print("size of train_text: {}".format(train_text.shape))

print(train_labels)
print(type(train_labels))
print("size of train_labels: {}".format(train_labels.shape))

  (0, 1731)	0.04544513249167999
  (0, 3971)	0.04544513249167999
  (0, 6807)	0.0436024039887
  (0, 3150)	0.03651154149011333
  (0, 9233)	0.04544513249167999
  (0, 7959)	0.04393951367619908
  (0, 1735)	0.03874843785475819
  (0, 5795)	0.045042221335831766
  (0, 9513)	0.036372747624943816
  (0, 4331)	0.042096785173219096
  (0, 6917)	0.03874843785475819
  (0, 5472)	0.039517182346489696
  (0, 2655)	0.04182600548557978
  (0, 8524)	0.04393951367619908
  (0, 8687)	0.038215476127923795
  (0, 6698)	0.0446580571587152
  (0, 2584)	0.04429097269934119
  (0, 1736)	0.08365201097115955
  (0, 2289)	0.04059116635773818
  (0, 8651)	0.0436024039887
  (0, 1704)	0.0436024039887
  (0, 1056)	0.1673040219423191
  (0, 5164)	0.04393951367619908
  (0, 7607)	0.0401446770501831
  (0, 9517)	0.04296685658755255
  :	:
  (1443, 2614)	0.0229702166337331
  (1443, 9759)	0.01331366624478838
  (1443, 2346)	0.08958676642118682
  (1443, 5426)	0.026266892860370174
  (1443, 1096)	0.02062005921802939
  (1443, 9867)	0.024366541627236664
  (1443, 8678)	0.020980224933206264
  (1443, 1384)	0.021995794967314106
  (1443, 9790)	0.0376823497483675
  (1443, 1432)	0.06062996291681963
  (1443, 2181)	0.03167800662482998
  (1443, 2792)	0.014684736706232252
  (1443, 8562)	0.02993714831959353
  (1443, 9571)	0.043579894595204345
  (1443, 6012)	0.028564275713922924
  (1443, 3532)	0.013498093903777817
  (1443, 9717)	0.05346368781607472
  (1443, 866)	0.040652137749878824
  (1443, 3810)	0.027556929139065416
  (1443, 3279)	0.020525385765318815
  (1443, 481)	0.032570161023756365
  (1443, 2198)	0.017719058722141533
  (1443, 719)	0.0180915894834985
  (1443, 10045)	0.025997687877904924
  (1443, 3665)	0.024024213153004376
<class 'scipy.sparse.csr.csr_matrix'>
size of train_text: (1444, 10178)
[0 0 0 ... 1 1 0]
<class 'numpy.ndarray'>
size of train_labels: (1444,)

In [109]:
print(test_text)
print(type(test_text))
print("size of test_text: {}".format(test_text.shape))

print(test_labels)
print(type(test_labels))
print("size of test_labels: {}".format(test_labels.shape))

  (0, 8300)	0.019611884327601983
  (0, 4987)	0.018821299544067777
  (0, 8879)	0.020807665959165618
  (0, 2662)	0.02129470275015597
  (0, 5341)	0.020583565300802475
  (0, 489)	0.022148943739346297
  (0, 3967)	0.04643754305040484
  (0, 9561)	0.023020739101576343
  (0, 3986)	0.020583565300802475
  (0, 8180)	0.08417689157580135
  (0, 9559)	0.022309601652222847
  (0, 9513)	0.018749752827478396
  (0, 2338)	0.0379362095238056
  (0, 8705)	0.021425695529535025
  (0, 5215)	0.046852935621869915
  (0, 9238)	0.04312169499548978
  (0, 7402)	0.044953122920597395
  (0, 8106)	0.020070060469540154
  (0, 1738)	0.019699659178114653
  (0, 5065)	0.06795101343045254
  (0, 2711)	0.02129470275015597
  (0, 8224)	0.04074134893933348
  (0, 6462)	0.02321877152520242
  (0, 2511)	0.023426467810934958
  (0, 7101)	0.022309601652222847
  :	:
  (360, 9571)	0.11858722096706537
  (360, 6097)	0.004526519108114372
  (360, 6012)	0.020151584893637643
  (360, 3532)	0.11155120077828257
  (360, 9717)	0.06465886997407323
  (360, 347)	0.004493461216233649
  (360, 9696)	0.004074039716221337
  (360, 9266)	0.02346494408673348
  (360, 709)	0.0047154493590278925
  (360, 2188)	0.006930360109484449
  (360, 866)	0.14134824989426303
  (360, 2065)	0.059721266852606425
  (360, 3810)	0.0722091311609014
  (360, 3279)	0.07653868640014164
  (360, 2519)	0.014046348660741875
  (360, 1030)	0.01041272253452047
  (360, 481)	0.06783882115293671
  (360, 2198)	0.010714695906493812
  (360, 719)	0.010939964860468592
  (360, 7417)	0.00409088888153324
  (360, 10045)	0.04192206433412999
  (360, 3665)	0.07021584431157898
  (360, 7009)	0.007093171789798113
  (360, 6362)	0.018731612776163253
  (360, 9606)	0.04472249680431683
<class 'scipy.sparse.csr.csr_matrix'>
size of test_text: (361, 10178)
[0 0 0 0 0 1 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 1 0 0 1
 1 0 1 1 0 0 1 0 0 1 0 0 0 1 1 0 1 1 0 1 1 0 0 0 0 1 0 1 1 1 1 0 0 1 0 0 1
 0 1 1 1 0 0 1 0 1 1 0 0 0 1 1 1 0 1 0 0 1 0 1 0 0 1 0 1 1 1 1 0 0 1 0 0 0
 0 0 0 0 1 0 0 0 0 1 1 0 0 1 1 0 1 0 1 0 1 0 1 1 0 0 1 0 1 1 0 0 0 1 0 0 0
 1 0 0 1 0 1 1 0 0 1 0 0 1 0 0 0 0 1 1 0 0 1 0 1 1 1 1 0 1 0 0 1 1 1 1 1 0
 0 0 1 0 1 1 1 1 1 1 0 0 0 1 0 1 0 0 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 0 1 0 1
 1 1 1 0 0 1 0 1 0 0 0 0 0 1 0 0 1 0 0 1 1 1 0 0 0 0 1 0 1 0 1 1 1 1 0 1 0
 1 1 0 1 1 1 1 1 1 0 1 0 1 1 1 0 0 1 0 1 0 1 1 1 0 1 0 0 0 0 0 0 1 1 0 0 1
 1 0 0 1 0 0 0 1 0 1 0 0 1 0 0 0 0 1 0 1 1 0 0 1 1 0 1 0 1 1 1 0 1 1 1 0 0
 0 0 0 0 1 0 0 1 0 0 0 0 0 1 1 1 0 0 1 0 1 0 0 0 0 1 0 0]
<class 'numpy.ndarray'>
size of test_labels: (361,)

In [110]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()

In [111]:
nb.fit(train_text,train_labels)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [112]:
train_pred = nb.predict(train_text)

In [113]:
print('Naive Bayes In Sample F1 and Accuracy Scores:')
print('F1 score {:.4}%'.format(f1_score(train_labels, train_pred, average='macro')*100 ))
print ('Accuracy score {:.4}%'.format(accuracy_score(train_labels, train_pred)*100))

Naive Bayes In Sample F1 and Accuracy Scores:
F1 score 97.23%
Accuracy score 97.23%

In [114]:
combined.loc[np.where(train_labels != train_pred)[0].tolist()].groupby('label').agg('count')

       title  text
label
0         14    14
1         26    26

In [116]:
test_pred = nb.predict(test_text)
print('Naive Bayes Out of Sample F1 and Accuracy Scores:')
print('F1 score {:.4}%'.format(f1_score(test_labels, test_pred, average='macro')*100 ))
print ('Accuracy score {:.4}%'.format(accuracy_score(test_labels, test_pred)*100))

Naive Bayes Out of Sample F1 and Accuracy Scores:
F1 score 93.33%
Accuracy score 93.35%

In [117]:
combined.loc[np.where(test_labels != test_pred)[0].tolist()].groupby('label').agg('count')

       title  text
label
1         24    24

In [118]:
combined.shape

(1805, 3)