In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
df_real = pd.read_csv('../Cleaned_Data/Real_Scrapped.csv')
print(df_real.shape)
df_real.head()

(909, 3)

,url,title,text
0,https://www.cnn.com/2020/03/29/politics/trump-...,Trump extends federal social distancing guidel...,Washington (CNN) President Donald Trump said S...
1,https://www.cnn.com/world/live-news/coronaviru...,Coronavirus live updates: Global pandemic kill...,The exterior of Elmhurst Hospital in Queens on...
2,https://www.cnn.com/2020/03/29/politics/trump-...,Trump concedes US coronavirus death toll could...,(CNN) President Donald Trump acknowledged Sund...
3,https://www.cnn.com/interactive/2020/health/co...,Tracking Covid-19 cases in the US,NaN
4,https://www.cnn.com/2020/03/29/opinions/donald...,Donald Trump's special day,Sign up to get our new weekly column as a news...

In [3]:
df_real['label'] = 1
df_real.dropna(inplace=True)
print(df_real.shape)
df_real.head()

(905, 4)

,url,title,text,label
0,https://www.cnn.com/2020/03/29/politics/trump-...,Trump extends federal social distancing guidel...,Washington (CNN) President Donald Trump said S...,1
1,https://www.cnn.com/world/live-news/coronaviru...,Coronavirus live updates: Global pandemic kill...,The exterior of Elmhurst Hospital in Queens on...,1
2,https://www.cnn.com/2020/03/29/politics/trump-...,Trump concedes US coronavirus death toll could...,(CNN) President Donald Trump acknowledged Sund...,1
4,https://www.cnn.com/2020/03/29/opinions/donald...,Donald Trump's special day,Sign up to get our new weekly column as a news...,1
5,https://www.cnn.com/2020/03/29/politics/us-ele...,How long will Trump's poll surge last?,"(CNN) The 2020 race, publicly at least, has la...",1

In [4]:
df_fake = pd.read_csv('../Uncleaned Data/fake.csv')

In [5]:
print(df_fake.shape)
df_fake.head()

(12999, 20)

,uuid,ord_in_thread,author,published,title,text,language,crawled,site_url,country,domain_rank,thread_title,spam_score,main_img_url,replies_count,participants_count,likes,comments,shares,type
0,6a175f46bcd24d39b3e962ad0f29936721db70db,0,Barracuda Brigade,2016-10-26T21:41:00.000+03:00,Muslims BUSTED: They Stole Millions In Gov’t B...,Print They should pay all the back all the mon...,english,2016-10-27T01:49:27.168+03:00,100percentfedup.com,US,25689.0,Muslims BUSTED: They Stole Millions In Gov’t B...,0.000,http://bb4sp.com/wp-content/uploads/2016/10/Fu...,0,1,0,0,0,bias
1,2bdc29d12605ef9cf3f09f9875040a7113be5d5b,0,reasoning with facts,2016-10-29T08:47:11.259+03:00,Re: Why Did Attorney General Loretta Lynch Ple...,Why Did Attorney General Loretta Lynch Plead T...,english,2016-10-29T08:47:11.259+03:00,100percentfedup.com,US,25689.0,Re: Why Did Attorney General Loretta Lynch Ple...,0.000,http://bb4sp.com/wp-content/uploads/2016/10/Fu...,0,1,0,0,0,bias
2,c70e149fdd53de5e61c29281100b9de0ed268bc3,0,Barracuda Brigade,2016-10-31T01:41:49.479+02:00,BREAKING: Weiner Cooperating With FBI On Hilla...,Red State : \nFox News Sunday reported this mo...,english,2016-10-31T01:41:49.479+02:00,100percentfedup.com,US,25689.0,BREAKING: Weiner Cooperating With FBI On Hilla...,0.000,http://bb4sp.com/wp-content/uploads/2016/10/Fu...,0,1,0,0,0,bias
3,7cf7c15731ac2a116dd7f629bd57ea468ed70284,0,Fed Up,2016-11-01T05:22:00.000+02:00,PIN DROP SPEECH BY FATHER OF DAUGHTER Kidnappe...,Email Kayla Mueller was a prisoner and torture...,english,2016-11-01T15:46:26.304+02:00,100percentfedup.com,US,25689.0,PIN DROP SPEECH BY FATHER OF DAUGHTER Kidnappe...,0.068,http://100percentfedup.com/wp-content/uploads/...,0,0,0,0,0,bias
4,0206b54719c7e241ffe0ad4315b808290dbe6c0f,0,Fed Up,2016-11-01T21:56:00.000+02:00,FANTASTIC! TRUMP'S 7 POINT PLAN To Reform Heal...,Email HEALTHCARE REFORM TO MAKE AMERICA GREAT ...,english,2016-11-01T23:59:42.266+02:00,100percentfedup.com,US,25689.0,FANTASTIC! TRUMP'S 7 POINT PLAN To Reform Heal...,0.865,http://100percentfedup.com/wp-content/uploads/...,0,0,0,0,0,bias

In [6]:
df_fake = df_fake[['site_url','title','text']]
df_fake.rename(columns={"site_url": "url"}, inplace=True)

In [7]:
df_fake['label'] = 0
df_fake.dropna(inplace=True)
print(df_fake.shape)
df_fake.head()

(12273, 4)

,url,title,text,label
0,100percentfedup.com,Muslims BUSTED: They Stole Millions In Gov’t B...,Print They should pay all the back all the mon...,0
1,100percentfedup.com,Re: Why Did Attorney General Loretta Lynch Ple...,Why Did Attorney General Loretta Lynch Plead T...,0
2,100percentfedup.com,BREAKING: Weiner Cooperating With FBI On Hilla...,Red State : \nFox News Sunday reported this mo...,0
3,100percentfedup.com,PIN DROP SPEECH BY FATHER OF DAUGHTER Kidnappe...,Email Kayla Mueller was a prisoner and torture...,0
4,100percentfedup.com,FANTASTIC! TRUMP'S 7 POINT PLAN To Reform Heal...,Email HEALTHCARE REFORM TO MAKE AMERICA GREAT ...,0

In [8]:
combined = pd.concat([df_real,df_fake],ignore_index=True)

In [9]:
combined.head()
combined.tail()

,url,title,text,label
13173,zerohedge.com,Tesla Earnings Smash Expectations After Dramat...,"Oct 26, 2016 4:26 PM 0 SHARES \nThere was a su...",0
13174,zerohedge.com,Rules For Rulers (Or How The World Really Works),"The following video is a must watch, particula...",0
13175,zerohedge.com,Fact Check: Trump Is Right that Clinton Might ...,She explains : \nHillary Clinton wants to star...,0
13176,zerohedge.com,Caught On Tape: ISIS Destroys Iraqi Abrams Wit...,"YHC-FTSE Oct 26, 2016 5:14 PM \nWould have bee...",0
13177,zerohedge.com,"ObamaCare Architect Admits ""The Law Is Working...","Oct 26, 2016 5:20 PM 0 \nSubmitted by Joseph J...",0

In [10]:
import nltk
from wordcloud import WordCloud
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, accuracy_score, recall_score, precision_score

In [11]:
X_body = combined['text'].values
X_title =combined['title'].values
labels = combined['label'].values

In [12]:
tfidf = TfidfVectorizer(ngram_range=(1,2), max_df= 0.85, min_df= 0.01)

In [13]:
combined['text'] = tfidf.fit_transform(combined['text'])
combined['title'] = tfidf.fit_transform (combined['title'])

In [14]:
combined.head()

,url,title,text,label
0,https://www.cnn.com/2020/03/29/politics/trump-...,"(0, 94)\t0.6344281311211754\n (0, 96)\t0.77...","(0, 6066)\t0.07747393883799533\n (0, 7454)\...",1
1,https://www.cnn.com/world/live-news/coronaviru...,"(0, 94)\t0.6344281311211754\n (0, 96)\t0.77...","(0, 6066)\t0.07747393883799533\n (0, 7454)\...",1
2,https://www.cnn.com/2020/03/29/politics/trump-...,"(0, 94)\t0.6344281311211754\n (0, 96)\t0.77...","(0, 6066)\t0.07747393883799533\n (0, 7454)\...",1
3,https://www.cnn.com/2020/03/29/opinions/donald...,"(0, 94)\t0.6344281311211754\n (0, 96)\t0.77...","(0, 6066)\t0.07747393883799533\n (0, 7454)\...",1
4,https://www.cnn.com/2020/03/29/politics/us-ele...,"(0, 94)\t0.6344281311211754\n (0, 96)\t0.77...","(0, 6066)\t0.07747393883799533\n (0, 7454)\...",1

In [15]:
train, test = train_test_split(combined, test_size=0.2)

In [16]:
print(train.shape)
train.head()

(10542, 4)

,url,title,text,label
4885,healthimpactnews.com,"(0, 94)\t0.6344281311211754\n (0, 96)\t0.77...","(0, 6066)\t0.07747393883799533\n (0, 7454)\...",0
4942,humansarefree.com,"(0, 94)\t0.6344281311211754\n (0, 96)\t0.77...","(0, 6066)\t0.07747393883799533\n (0, 7454)\...",0
12215,veteranstoday.com,"(0, 94)\t0.6344281311211754\n (0, 96)\t0.77...","(0, 6066)\t0.07747393883799533\n (0, 7454)\...",0
9705,thedailymash.co.uk,"(0, 94)\t0.6344281311211754\n (0, 96)\t0.77...","(0, 6066)\t0.07747393883799533\n (0, 7454)\...",0
9657,thedailybell.com,"(0, 94)\t0.6344281311211754\n (0, 96)\t0.77...","(0, 6066)\t0.07747393883799533\n (0, 7454)\...",0

In [17]:
print(test.shape)
test.head()

(2636, 4)

,url,title,text,label
8263,rbth.com,"(0, 94)\t0.6344281311211754\n (0, 96)\t0.77...","(0, 6066)\t0.07747393883799533\n (0, 7454)\...",0
9606,thecontroversialfiles.net,"(0, 94)\t0.6344281311211754\n (0, 96)\t0.77...","(0, 6066)\t0.07747393883799533\n (0, 7454)\...",0
10668,thepoke.co.uk,"(0, 94)\t0.6344281311211754\n (0, 96)\t0.77...","(0, 6066)\t0.07747393883799533\n (0, 7454)\...",0
9288,sott.net,"(0, 94)\t0.6344281311211754\n (0, 96)\t0.77...","(0, 6066)\t0.07747393883799533\n (0, 7454)\...",0
571,https://www.politico.com/news/2020/03/06/penta...,"(0, 94)\t0.6344281311211754\n (0, 96)\t0.77...","(0, 6066)\t0.07747393883799533\n (0, 7454)\...",1

In [18]:
train_labels = train['label']
train_labels.head()

4885     0
4942     0
12215    0
9705     0
9657     0
Name: label, dtype: int64

In [19]:
train = train.drop(['label'],axis=1)
train.head()

,url,title,text
4885,healthimpactnews.com,"(0, 94)\t0.6344281311211754\n (0, 96)\t0.77...","(0, 6066)\t0.07747393883799533\n (0, 7454)\..."
4942,humansarefree.com,"(0, 94)\t0.6344281311211754\n (0, 96)\t0.77...","(0, 6066)\t0.07747393883799533\n (0, 7454)\..."
12215,veteranstoday.com,"(0, 94)\t0.6344281311211754\n (0, 96)\t0.77...","(0, 6066)\t0.07747393883799533\n (0, 7454)\..."
9705,thedailymash.co.uk,"(0, 94)\t0.6344281311211754\n (0, 96)\t0.77...","(0, 6066)\t0.07747393883799533\n (0, 7454)\..."
9657,thedailybell.com,"(0, 94)\t0.6344281311211754\n (0, 96)\t0.77...","(0, 6066)\t0.07747393883799533\n (0, 7454)\..."

In [24]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()

In [25]:
nb.fit(train,train_labels)

ValueError: could not convert string to float: 'healthimpactnews.com'