In [72]:
import pandas as pd
import numpy as np
import json
import csv

In [73]:
file_path = '../Uncleaned Data/liar_dataset/{}.tsv'
files = ['train','test','valid']
cols = ['id', 'label', 'statement']
liars = []
for i in files:
    liar = pd.read_table(file_path.format(i), header=None,names=cols, usecols=[0,1,2])
    print(liar.shape)
    liars.append(liar)

liar = pd.concat(liars, axis=0, ignore_index=True)
print(liar.shape)

(10240, 3)
(1267, 3)
(1284, 3)
(12791, 3)

In [74]:
liar.groupby('label').agg('count')

               id  statement
label
barely-true  2103       2103
false        2507       2507
half-true    2627       2627
mostly-true  2454       2454
pants-fire   1047       1047
true         2053       2053

In [75]:
print(liar.head())
false_labels = ['barely-true', 'false', 'pants-fire']
true_labels = ['half-true', 'mostly-true', 'true']

for i in false_labels:
    liar.loc[(liar.label == i), 'label'] = "Fake"
for j in true_labels:
    liar.loc[(liar.label == j), 'label'] = "Real"
liar.groupby('label').agg('count')

           id        label                                          statement
0   2635.json        false  Says the Annies List political group supports ...
1  10540.json    half-true  When did the decline of coal start? It started...
2    324.json  mostly-true  Hillary Clinton agrees with John McCain "by vo...
3   1123.json        false  Health care reform legislation is likely to ma...
4   9028.json    half-true  The economic turnaround started at the end of ...

         id  statement
label
Fake   5657       5657
Real   7134       7134

In [76]:
liar.head()

           id label                                          statement
0   2635.json  Fake  Says the Annies List political group supports ...
1  10540.json  Real  When did the decline of coal start? It started...
2    324.json  Real  Hillary Clinton agrees with John McCain "by vo...
3   1123.json  Fake  Health care reform legislation is likely to ma...
4   9028.json  Real  The economic turnaround started at the end of ...

In [77]:
def get_df():
    return liar