In [18]:
import os
import pandas as pd
import time
from textblob import TextBlob

In [19]:
# folder = '../Augmentation Data/semi_cleaned'
# dataframes = []
# file_names = []
# for file in os.listdir(folder):
#     filepath = folder+"/{}".format(file)
#     dataframes.append(pd.read_csv(filepath))
#     file_names.append(file)

# total = 0
# for i in range(len(dataframes)):
#     print(file_names[i])
#     print(dataframes[i].shape)
#     total += dataframes[i].shape[0]
# print(total)

Kaggle2_Mixed.csv
(20127, 4)
Real_News.csv
(2347, 4)
.DS_Store
(0, 1)
Human_Fake_News.csv
(12166, 4)
Kaggle3_Real.csv
(24598, 4)
LIAR.csv
(12791, 4)
72029

In [34]:
file =  '../Augmentation Data/semi_cleaned/LIAR.csv'
df_input = pd.read_csv(file)
df_input.drop(['Unnamed: 0'], inplace=True,axis=1)

In [35]:
df_input.head()

,clean_text,clean_title,label
0,says the annies list political group supports ...,says the annies list political group supports ...,0
1,when did the decline of coal start? it started...,when did the decline of coal start? it started...,1
2,"hillary clinton agrees with john mccain ""by vo...","hillary clinton agrees with john mccain ""by vo...",1
3,health care reform legislation is likely to ma...,health care reform legislation is likely to ma...,0
4,the economic turnaround started at the end of ...,the economic turnaround started at the end of ...,1

In [36]:
# df_input = pd.concat(dataframes)
df_input.reset_index(inplace=True,drop=True)
print(df_input.head())
print(df_input.tail())
df_output = df_input.copy()

                                          clean_text  \
0  says the annies list political group supports ...
1  when did the decline of coal start? it started...
2  hillary clinton agrees with john mccain "by vo...
3  health care reform legislation is likely to ma...
4  the economic turnaround started at the end of ...

                                         clean_title  label
0  says the annies list political group supports ...      0
1  when did the decline of coal start? it started...      1
2  hillary clinton agrees with john mccain "by vo...      1
3  health care reform legislation is likely to ma...      0
4  the economic turnaround started at the end of ...      1
                                              clean_text  \
12786  for the first time in more than a decade, impo...
12787  says donald trump has bankrupted his companies...
12788  john mccain and george bush have "absolutely n...
12789  a new poll shows 62 percent support the presid...
12790  no one claims the report vindicating new jerse...

                                             clean_title  label
12786  for the first time in more than a decade, impo...      1
12787  says donald trump has bankrupted his companies...      1
12788  john mccain and george bush have "absolutely n...      1
12789  a new poll shows 62 percent support the presid...      0
12790  no one claims the report vindicating new jerse...      0

In [37]:
spaces = []
space_text = []
for i in range(5):
    s = " "*(i+1)
    spaces.append(s)
for i in range(len(df_input['clean_text'])):
    try:
        if df_input['clean_text'].iloc[i] in spaces:
            space_text.append(i)
    except TypeError:
        print("TYPE ERROR")
        print(i)

In [38]:
print(space_text)

[]

In [26]:
print(space_text)

[]

In [40]:
text = "This is a test to see how much this can handle This is a test to see how much this can handle This is a test to see how much this can handle This is a test to see how much this can handle This is a test to see how much this can handle This is a test to see how much this can handle This is a test to see how much this can handle This is a test to see how much this can handle This is a test to see how much this can handle   "


blob1 = TextBlob(text)
foreign = blob1.translate(to='ja')
out = foreign.translate(to='en')
print(foreign)
out = str(out)
print(type(out))
print(out)

def translate(original, language='de'):
    input_text = TextBlob(original)
    foreign = input_text.translate(to=language)
    time.sleep(0.2)
    out = foreign.translate(to='en')
    time.sleep(0.2)
    return str(out)

これは処理できる量を確認するテストですこれは処理できる量を確認するテストですこれは処理できる量を確認するテストですこれは処理できる量を確認するテストですこれは確認するテストですこれが処理できる量これは処理できる量を確認するテストですこれは処理できる量を確認するテストですこれは処理できる量を確認するテストですこれは処理できる量を確認するテストです
<class 'str'>
This is a test to check how much can be processed This is a test to check how much can be processed This is a test to check how much can be processed This is a test to check how much can be processed This is a test to check This is a test that can be processed This is a test to check how much can be processed This is a test to check how much can be processed This is a test to check how much can be processed This is a test to check how much can be processed

In [65]:
num = df_input.shape[0]
start = time.time()
issues = {}
no_change = []
nan_vals = []
for i in range(num):
    og_text = df_input['clean_text'].iloc[i]
    if og_text:
        try:
            translated = translate(og_text)
            df_output.loc[i] = [translated,df_input.clean_title[i],df_input.label[i]]
        except Exception as e:
        #     issues[i] = e
            e = str(e)
            if e == "Translation API returned the input string unchanged.":
                print("no change found")
                df_output.loc[i] = [og_text,df_input.clean_title[i],df_input.label[i]]
                no_change.append(i)
            else:
                issues[i] = e
                print("uncaught issue")
                df_output.loc[i] = [og_text,df_input.clean_title[i],df_input.label[i]]
            pass
    else:
        df_output.loc[i] = [og_text,df_input.clean_title[i],df_input.label[i]]
        nan_vals.append(i)
    
end = time.time()
print("New size = {}".format(df_real.shape))
print("{} translations in {}".format(df_real.shape[0]-num,end-start))

                                             clean_text
0     washington cnn president donald trump said sun...
1     exterior elmhurst hospital queens sunday march...
2     cnn president donald trump acknowledged sunday...
3     sign get new weekly column newsletter looking ...
4     cnn  race publicly least largely halted countr...
...                                                 ...
4679  South Korea has significantly improved the leg...
4680  zak driouche stepped in front of quattro forma...
4681  Over the course of March, even the production ...
4682  California efforts to move homeless hotel mote...
4683  Growing Numbers Protesters are challenging cor...

[4684 rows x 1 columns]
Translation API returned the input string unchanged.
<class 'str'>
caught
issue
New size = (4684, 1)
0 translations in 0.34842395782470703

In [42]:
start = time.time()
z = translate(df_input['clean_text'].iloc[1279])
end = time.time()
print(end-start)
print(z)

0.7190821170806885
Unemployment among college graduates in Oregon between the ages of 18 and 20 rose by more than 200 percent from 2008 to 2011, while the US average rose only 30 percent.

In [47]:
print(issues)

{409: NotTranslated('Translation API returned the input string unchanged.'), 410: NotTranslated('Translation API returned the input string unchanged.'), 412: NotTranslated('Translation API returned the input string unchanged.'), 413: NotTranslated('Translation API returned the input string unchanged.'), 905: NotTranslated('Translation API returned the input string unchanged.'), 1553: NotTranslated('Translation API returned the input string unchanged.'), 1790: NotTranslated('Translation API returned the input string unchanged.'), 1988: NotTranslated('Translation API returned the input string unchanged.'), 2167: NotTranslated('Translation API returned the input string unchanged.'), 2315: NotTranslated('Translation API returned the input string unchanged.')}

In [44]:
d = {}
lens=[]
for i in range(df_input.shape[0]):
    text = df_input['clean_text'].iloc[i]
#     print(text)
#     break
    if not text:
        print(i)
        break
    try:
        key = len(text)
        if key in d:
            d[key].append(i)
        else:
            d[key] = [i]
        lens.append(len(text))
    except TypeError:
        print(i)
lens = sorted(lens, reverse=True)

In [45]:
print(lens[:10])

[3192, 2941, 2099, 1592, 1380, 538, 395, 391, 370, 370]

In [63]:
print(d[1592])

[6119]

In [64]:
print("og: \n {}".format(df_input['clean_text'].iloc[6119]))
start = time.time()
print("new")
z = translate(df_input['clean_text'].iloc[6119])
end = time.time()
print(end-start)
print(z)

og:
 georgia has the most restrictive ballot access laws in the country.	elections	mary-n			independent	0	0	0	0	0	a television interview
3666.json	false	on whether the federal debt limit should be raised	federal-budget	barack-obama	president	illinois	democrat	70	71	160	163	9	an interview with george stephanopoulos
4608.json	half-true	when george w. bush was governor of texas, the percentage uninsured went down. under his successor, rick perry, its gone up.	children,health-care,new-hampshire-2012	mitt-romney	former governor	massachusetts	republican	34	32	58	33	19	a republicam debate in hanover, n.h.
11023.json	false	says his book,the art of the deal,is the no. 1 selling business book of all time.	candidates-biography,job-accomplishments	donald-trump	president-elect	new york	republican	63	114	51	37	61	remarks on cnn.
2096.json	half-true	democrats in the 1930s wanted president franklin roosevelt to be more conservative.	history,pundits,abc-news-week	george-will	columnist	maryland	columnist	7	6	3	5	1	a roundtable discussion on abc's this week
12853.json	true	says danny tarkanian wants to defund planned parenthood and would outlaw a womans right to choose, even in cases of rape or incest.	abortion	jacky-rosen		nevada	democrat	0	0	0	0	0	a press release.
12670.json	pants-fire	condemning violence against the police and urging support for the police is markedly absent from president barack obamas public remarks.	criminal-justice	william-johnson			organization	0	0	0	0	1	an interview on fox news
1508.json	half-true	florida leads the nation in elected officials charged with crimes."
new
0.8709530830383301
Georgia has the most restrictive laws on access to ballot papers in the country. Elections mary-n independent 0 0 0 0 0 a television interview
3666.json wrong about raising the federal debt ceiling Federal Budget Barack Obama President Illinois Democrat 70 71 160 163 9 an interview with George Stephanopoulos
4608.json half true if george w. Bush was governor of Texas, and the percentage of uninsured fell. it has risen under his successor Rick Perry. Children, healthcare, new hampshire 2012 mitt-romney former governor massachusetts republican 34 32 58 33 19 a republican debate in hanover, n.h.
11023.json false says his book, the Art of Deals, is the # 1 selling business book of all time. candidate biography, professions donald trump president elected new york republican 63 114 51 37 61 notes on cnn.
2096.json semi-true Democrats in the 1930s wanted President Franklin Roosevelt to become more conservative. History, Experts, ABC News Week George Will Columnist Maryland Columnist 7 6 3 5 1 A discussion group about ABCs this week
12853.json true says Danny Tarkanian wants to abolish planned parenthood and would ban a woman's right to vote, even if she is raped or incested. Abortion Jacky-Rosen Nevada Democrat 0 0 0 0 0 a press release.
12670.json Troop fire, which condemns violence against the police and calls for police support, is clearly missing from President Barack Obama's public statements. Criminal Justice William Johnson Organization 0 0 0 0 1 an interview on Fox News
1508.json semi-true Florida leads the nation in elected officials charged with crimes. "

In [134]:
print(d[200])

[2158, 2546, 4280, 6188, 7195, 7449, 8371, 8458, 9548, 10243, 11126, 12479, 13038, 15191, 18500, 18625, 21386, 24543, 25473, 27578, 28444, 28473, 28474, 28476, 28497, 28499, 28512, 28513, 28518, 30354, 32959, 32960, 32965, 32978, 32980, 32996, 33002, 38518, 38637, 38655, 38675, 38706, 46637, 59505, 59642, 59826, 60128, 62337, 62397, 63814, 67296, 67302, 68011, 68416, 69435, 70409]

In [135]:
df_input['clean_text'].iloc[2158]

'think you have witnessed enough amazing inventions in the world? these unusual gadgets will probably change your mind. here are the strangest and most unbelievable japanese inventions you have not... '

In [137]:
for i in range(200):
    if i in d:
        for x in d[i]:
            if x:
                print(x)
                print(i)
                break

81
1
876
2
6929
3
21108
4
36161
5
39341
8
19175
9
37216
10
37481
11
12619
12
2571
13
35159
14
37401
15
59938
16
168
17
68599
18
8776
19
61477
20
20613
21
61670
22
61559
23
59559
24
28709
25
37860
26
38340
27
59766
28
18951
29
20615
30
19348
31
60959
32
59738
33
9496
34
59864
35
60295
36
9820
37
20612
38
37372
39
10971
40
59765
41
477
42
3723
43
38127
44
8554
45
38165
46
9684
47
973
48
10093
49
29240
50
8207
51
17478
52
16773
53
510
54
2430
55
37182
56
4527
57
11341
58
59560
59
6477
60
17689
61
1375
62
6363
63
2528
64
16176
65
3167
66
59546
67
22049
68
13818
69
24601
70
59489
71
6576
72
2621
73
24585
74
19470
75
1034
76
35435
77
59471
78
3633
79
59623
80
1818
81
39446
82
16813
83
38687
84
37662
85
1889
86
18894
87
12470
88
22054
89
5418
90
3951
91
3594
92
2129
93
4429
94
6313
95
4113
96
59515
97
8125
98
39405
99
9329
100
1809
101
11736
102
37510
103
3569
104
12705
105
14950
106
59807
107
5528
108
18222
109
12548
110
14231
111
12692
112
1137
113
5201
114
9486
115
337
116
1578
117
10945
118
59736
119
2628
120
59535
121
16418
122
20675
123
40631
124
13011
125
38738
126
19211
127
59728
128
2332
129
2355
130
634
131
4288
132
12560
133
13177
134
2454
135
11098
136
7736
137
10661
138
1541
139
6839
140
18656
141
8861
142
2064
143
5514
144
10522
145
9934
146
2061
147
3254
148
2330
149
2348
150
6424
151
6978
152
8108
153
475
154
8263
155
10785
156
2299
157
427
158
10050
159
10829
160
9943
161
1759
162
59855
163
2353
164
2003
165
2409
166
99
167
5262
168
348
169
6450
170
6311
171
1392
172
9566
173
2308
174
8217
175
10319
176
1601
177
2222
178
2077
179
16675
180
5909
181
11003
182
8941
183
490
184
10412
185
1716
186
1801
187
7367
188
3440
189
796
190
9880
191
5445
192
3772
193
157
194
896
195
527
196
571
197
5956
198
426
199