In [17]:
import nltk
# nltk.download('stopwords')

import pandas as pd
import numpy as np
import string
import re
from nltk.corpus import stopwords

In [18]:
nltk_stopwords = stopwords.words('english')
spaces = set()
space_text = []
for i in range(5):
    s = " "*(i+1)
    spaces.add(s)
spaces.add('')

def clean_column(dataframe, column_to_clean, new_col):
    df_copy = dataframe.copy()
    df_copy['copied_column'] = df_copy[column_to_clean]
    
    # Making all characters lowercase
    df_copy['copied_column'] = df_copy['copied_column'].str.lower()
    
    cleaned_column = []
    for label in df_copy.index:
    
        row = df_copy.loc[label, :]['copied_column']
        clean = []

        # Removing all punctuation
        for x in row.split():
            for p in '!"$%&\'()*+,-./:;<=>?@[\\]“”^_`{|}~’': # optional: !
                x = x.replace(p, '')
            clean.append(x)

        # Removing all stop words
        clean = [x for x in clean if x not in nltk_stopwords]

        # Removing all numerical digits
        for i in range(len(clean)):
            x = clean[i]
            for d in string.digits:
                x = x.replace(d, '')
            clean[i] = x

        # Removing all single-character words
        clean = [x for x in clean if len(x) != 1]
        clean = " ".join(clean)
        clean = clean.encode('ascii', 'ignore').decode('ascii') #take out emojis
        clean = clean.strip()
        cleaned_column.append(clean)
    df_copy[new_col] = cleaned_column
    del df_copy['copied_column']
    return df_copy

def semi_clean_column(dataframe, column_to_clean, new_col):
    df_copy = dataframe.copy()
    df_copy['copied_column'] = df_copy[column_to_clean]
    
    # Making all characters lowercase
    df_copy['copied_column'] = df_copy['copied_column'].str.lower()
    
    cleaned_column = []
    for label in df_copy.index:
        
        row = df_copy.loc[label, :]['copied_column']
        row = row.encode('ascii', 'ignore').decode('ascii') #take out emojis
        cleaned_column.append(row)
    df_copy[new_col] = cleaned_column
    del df_copy['copied_column']
    return df_copy

In [19]:
df1_unclean = pd.read_csv('../../Augmentation Data/Kaggle2_Mixed_BT.csv').drop(['Unnamed: 0'], axis=1)
df2_unclean = pd.read_csv('../../Augmentation Data/LIAR_BT.csv').drop(['Unnamed: 0'], axis=1)

print(df1_unclean.tail())
print(df1_unclean.shape)
print()

print(df2_unclean.tail())
print(df2_unclean.shape)
print()

for i in spaces:
    df1_unclean = df1_unclean[(df1_unclean['clean_title'] != i) & 
                                  (df1_unclean['clean_text'] != i)]
    df2_unclean = df2_unclean[(df2_unclean['clean_title'] != i) & 
                                  (df2_unclean['clean_text'] != i)]
#     df3_unclean = df3_unclean[(df3_unclean['clean_title'] != i) & 
#                                   (df3_unclean['clean_text'] != i)]

df1_unclean['clean_title'] = df1_unclean['clean_title'].apply(lambda x: str(x))
df1_unclean['clean_text'] = df1_unclean['clean_text'].apply(lambda x: str(x))
df1_unclean = df1_unclean[(df1_unclean['clean_title'] != 'nan') & 
                                  (df1_unclean['clean_text'] != 'nan')]

df2_unclean['clean_title'] = df2_unclean['clean_title'].apply(lambda x: str(x))
df2_unclean['clean_text'] = df2_unclean['clean_text'].apply(lambda x: str(x))
df2_unclean = df2_unclean[(df2_unclean['clean_title'] != 'nan') & 
                                  (df2_unclean['clean_text'] != 'nan') ]


# df3_unclean['clean_title'] = df3_unclean['clean_title'].apply(lambda x: str(x))
# df3_unclean['clean_text'] = df3_unclean['clean_text'].apply(lambda x: str(x))
# df3_unclean = df3_unclean[(df3_unclean['clean_title'] != 'nan') & 
#                                   (df3_unclean['clean_text'] != 'nan')]


# df1_clean = clean_column(df1_unclean, 'clean_text', 'clean_text')
# df1_clean = clean_column(df1_clean, 'clean_title', 'clean_title')
# # df_real_clean.drop(['url','title', 'text'],inplace=True,axis=1)
# df1_clean.head()
# # df_real_clean.to_csv('../Cleaned Data/Real_News.csv')

# # df_hf_clean = semi_clean_column(df_hf_unclean, 'text', 'clean_text')
# # df_hf_clean = semi_clean_column(df_hf_clean, 'title', 'clean_title')
# # df_hf_clean = df_hf_clean[['clean_text', 'clean_title']]
# # df_hf_clean.head()
# # df_hf_clean.to_csv('../Cleaned Data/Human_Fake_News.csv')

# # df_nf_clean = semi_clean_column(df_nf_unclean, 'text', 'clean_text')
# # df_nf_clean = semi_clean_column(df_nf_clean, 'title', 'clean_title')
# # df_nf_clean.to_csv('../Cleaned Data/Neural_Fake_News.csv')

                                              clean_text  \
10119  eDi "r" eetng, ewi sasd hicnn, i's tgas er. "s...
10120  It was as if he had never done anything other ...
10121  Donald trump took to Twitter on Friday to prai...
10122  Rapper t. i. unloaded on black celebrities who...
10123  nato, russia, to hold parallel exercises in ba...

                                             clean_title  label
10119  lawyer who kept hillary campaign chief out of ...      0
10120  idiot who destroyed trump hollywood star gets ...      0
10121  trump: putin very smart to not retaliate over ...      1
10122  rapper t.i.: trump a poster child for white su...      1
10123  nato, russia to hold parallel exercises in bal...      0
(10124, 3)

                                              clean_text  \
12786  For the first time in more than a decade, impo...
12787  Donald Trump has bankrupted his companies not ...
12788  John McCain and George Bush have "absolutely n...
12789  a new poll shows that 62 percent support the p...
12790  No one is suggesting that the report confirmin...

                                             clean_title  label
12786  for the first time in more than a decade, impo...      1
12787  says donald trump has bankrupted his companies...      1
12788  john mccain and george bush have "absolutely n...      1
12789  a new poll shows 62 percent support the presid...      0
12790  no one claims the report vindicating new jerse...      0
(12791, 3)

In [20]:
df1_clean = clean_column(df1_unclean, 'clean_text', 'clean_text')
df1_clean = clean_column(df1_clean, 'clean_title', 'clean_title')
# df_real_clean.drop(['url','title', 'text'],inplace=True,axis=1)
print(df1_clean.shape)
df1_clean.tail()

(10102, 3)

,clean_text,clean_title,label
10119,edi eetng ewi sasd hicnn tgas er ide eetnreajn...,lawyer kept hillary campaign chief jail doj hi...,0
10120,never done anything done done done done wanted...,idiot destroyed trump hollywood star gets exac...,0
10121,donald trump took twitter friday praise vladim...,trump putin smart retaliate obama sanctions b...,1
10122,rapper unloaded black celebrities met donald t...,rapper ti trump poster child white supremacy,1
10123,nato russia hold parallel exercises balkans ...,nato russia hold parallel exercises balkans,0

In [21]:
df2_clean = clean_column(df2_unclean, 'clean_text', 'clean_text')
df2_clean = clean_column(df2_clean, 'clean_title', 'clean_title')
print(df2_clean.shape)
# df_real_clean.drop(['url','title', 'text'],inplace=True,axis=1)
df2_clean.head()

(12791, 3)

,clean_text,clean_title,label
0,group supports thirdtrimester abortions demand,says annies list political group supports thir...,0
1,decline coal begin began natural gas started f...,decline coal start started natural gas took st...,1
2,hillary clinton agrees john mccain voting give...,hillary clinton agrees john mccain voting give...,1
3,healthcare reform law likely require free sexr...,health care reform legislation likely mandate ...,0
4,economic turnaround began end term office,economic turnaround started end term,1

In [23]:
df1_clean.to_csv('../../Augmentation Data/Kaggle2_Mixed_BT_clean.csv')
df2_clean.to_csv('../../Augmentation Data/LIAR_BT_clean.csv')
# df3_clean.to_csv('../Augmentation Data/Kaggle2_Mixed_SR_b_clean.csv')

In [5]:
# df_hf_clean = df_hf_clean[['site_url','clean_text']]
# df_hf_clean.head()
# df_hf_clean.to_csv('../Cleaned Data/Human_Fake_News.csv')