In [17]:
import pandas as pd
import numpy as np
import json
import csv
import os

In [18]:
folder = "../Cleaned Data"

dataframes = []
file_names = []
for file in os.listdir(folder):
    if file != "Neural_Fake_News.csv":
        filepath = folder+"/{}".format(file)
        dataframes.append(pd.read_csv(filepath))
        file_names.append(file)

In [19]:
total = 0
for i in range(len(dataframes)):
    print(file_names[i])
    print(dataframes[i].shape)
    total += dataframes[i].shape[0]
print(total)

Kaggle2_Mixed.csv
(20761, 3)
Real_News.csv
(2347, 3)
Human_Fake_News.csv
(12273, 3)
Kaggle3_Real.csv
(24646, 3)
LIAR.csv
(12791, 4)
72818

In [20]:
for i in dataframes:
    print(list(i))

['Unnamed: 0', 'label', 'clean_text']
['Unnamed: 0', 'url', 'clean_text']
['Unnamed: 0', 'site_url', 'clean_text']
['Unnamed: 0', 'label', 'clean_text']
['Unnamed: 0', 'label', 'text', 'clean_text']

In [21]:
for i in dataframes:
    i.drop(['Unnamed: 0'], inplace=True, axis=1)
    print(list(i))
dataframes[1].drop(['url'], inplace=True, axis=1)

['label', 'clean_text']
['url', 'clean_text']
['site_url', 'clean_text']
['label', 'clean_text']
['label', 'text', 'clean_text']

In [31]:
for i in dataframes:
    print(list(i))

['label', 'clean_text']
['url', 'clean_text']
['site_url', 'clean_text']
['label', 'clean_text']
['label', 'clean_text']

In [27]:
dataframes[0].groupby('label').agg('count')

       clean_text
label
Fake        10249
Real        10386

In [28]:
dataframes[3].groupby('label').agg('count')

       clean_text
label
Real        24582

In [29]:

dataframes[4].groupby('label').agg('count')

       text  clean_text
label
Fake   5657        5657
Real   7134        7134

In [ ]:
dataframes[2]['label'] =