In [1]:
import pandas as pd
import numpy as np
import json
import csv
import import_ipynb
from DataCleaning import clean_column, semi_clean_column, spaces

importing Jupyter notebook from DataCleaning.ipynb

In [2]:
file_path = '../Uncleaned Data/liar_dataset/{}.tsv'
files = ['train','test','valid']
cols = ['label', 'text']
liars = []
for i in files:
    liar = pd.read_table(file_path.format(i), header=None,names=cols, usecols=[1,2])
    print(liar.shape)
    liars.append(liar)

liar = pd.concat(liars, axis=0, ignore_index=True)
print(liar.shape)

(10240, 2)
(1267, 2)
(1284, 2)
(12791, 2)

In [3]:
for i in liars:
    print(list(i))

['label', 'text']
['label', 'text']
['label', 'text']

In [4]:
liar.groupby('label').agg('count')

             text
label
barely-true  2103
false        2507
half-true    2627
mostly-true  2454
pants-fire   1047
true         2053

In [5]:
print(liar.head())
false_labels = ['barely-true', 'false', 'pants-fire']
true_labels = ['half-true', 'mostly-true', 'true']

for i in false_labels:
    liar.loc[(liar.label == i), 'label'] = 0
for j in true_labels:
    liar.loc[(liar.label == j), 'label'] = 1
liar.groupby('label').agg('count')

         label                                               text
0        false  Says the Annies List political group supports ...
1    half-true  When did the decline of coal start? It started...
2  mostly-true  Hillary Clinton agrees with John McCain "by vo...
3        false  Health care reform legislation is likely to ma...
4    half-true  The economic turnaround started at the end of ...

       text
label
0      5657
1      7134

In [6]:
liar.head()

  label                                               text
0     0  Says the Annies List political group supports ...
1     1  When did the decline of coal start? It started...
2     1  Hillary Clinton agrees with John McCain "by vo...
3     0  Health care reform legislation is likely to ma...
4     1  The economic turnaround started at the end of ...

In [7]:
space_text = []
for i in range(len(liar['text'])):
    try:
        if liar['text'].iloc[i] in spaces:
            space_text.append(i)
        elif not liar['text'].iloc[1]:
            print("BRUH WTF")
    except TypeError:
        print("TYPE ERROR")
        print(i)
print(space_text)

[]

In [8]:
liar['text'] = liar['text'].apply(lambda x: str(x))
liar = liar[(liar['text'] != 'nan') & (liar['text'] != '')]
liar_clean = semi_clean_column(liar, 'text', 'clean_text')
liar_clean.head()

,label,text,clean_text
0,0,Says the Annies List political group supports ...,says the annies list political group supports ...
1,1,When did the decline of coal start? It started...,when did the decline of coal start? it started...
2,1,"Hillary Clinton agrees with John McCain ""by vo...","hillary clinton agrees with john mccain ""by vo..."
3,0,Health care reform legislation is likely to ma...,health care reform legislation is likely to ma...
4,1,The economic turnaround started at the end of ...,the economic turnaround started at the end of ...

In [9]:
space_text = []
for i in range(len(liar_clean['clean_text'])):
    try:
        if liar_clean['clean_text'].iloc[i] in spaces:
            space_text.append(i)
        elif not liar_clean['clean_text'].iloc[1]:
            print("BRUH WTF")
    except TypeError:
        print("TYPE ERROR")
        print(i)
print(space_text)

[]

In [9]:
liar_clean['clean_title'] = liar_clean['clean_text']
liar_clean = liar_clean[['clean_text','clean_title','label']]
liar_clean.head()

,clean_text,clean_title,label
0,says the annies list political group supports ...,says the annies list political group supports ...,0
1,when did the decline of coal start? it started...,when did the decline of coal start? it started...,1
2,"hillary clinton agrees with john mccain ""by vo...","hillary clinton agrees with john mccain ""by vo...",1
3,health care reform legislation is likely to ma...,health care reform legislation is likely to ma...,0
4,the economic turnaround started at the end of ...,the economic turnaround started at the end of ...,1

In [10]:
liar_clean.to_csv('../Augmentation Data/semi_cleaned/LIAR.csv')